.jsb-exp input {
    font-size: 1.2em;
    /*border-bottom: solid 1px black;*/
    min-width: 20px;
    min-height: 1px;    
    display: inline-block;
    margin-right:3px;
    cursor: pointer;
    text-align: center;
}

.jsb-exp .input:focus {
    background-color: #eeeeee;
}

.jsb-exp .input:hover {
    background-color: #eeeeee;
}

.jsb-exp .list {
    display:none;
    position: absolute;
    z-index: 999999;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 10px;
}

.jsb-exp .list {
    display:block;
    position:relative;
}
